
header {
  width: 100%;
  border-top: 3px solid orange;
  border-bottom: 6px solid orange;
}

header h1{
  width: 100%;
  text-align: left;
  font-size: 35px;
  padding-left: 30px;
  font-family: 'Kaushan Script', cursive;
}