* {
  box-sizing: border-box;
}

body {
  max-width: 480px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: auto;
}

#body-background {
  width: 100%;
  background: -webkit-linear-gradient(rgb(188, 243, 236), rgb(54, 221, 166));
  border: 3px solid orange;
}