
header {
  width: 100%;
  border-top: 1px solid rgb(253, 142, 14);
  border-bottom: 6px solid rgb(253, 142, 14);
  background-color: orange;
}

header h1{
  width: 100%;
  text-align: left;
  font-size: 40px;
  padding-left: 30px;
  font-family: 'Kaushan Script', cursive;
  background: -webkit-linear-gradient(#eee, rgb(54, 221, 166));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  z-index: 0;
}

.hamburger {
  background-color: orange;
  -webkit-text-fill-color: white;
  border: none;
  font-size: 35px;
  float: right;
  margin: 5px 20px 0 0;
  z-index: 1;
}

.hamburger:hover, .hamburger:focus {
  background-color: rgb(152, 253, 219);
}

.nav-links {
  width: 100%;
  top:0;
  padding: none;
  text-align: center;
  /* border: 1px solid black; */
}